@using Abp.Timing

@model pkhmelyov.AbpReposterBot.Web.Mvc.Models.Posts.PostsSendViewModel

@{
    
}

<p>@Model.Post.Body</p>

<form method="post" asp-controller="Posts" asp-action="Send" asp-route-id="@Model.Id">
    <div>
        <select asp-for="ChannelId" asp-items="@Model.ChannelItems"></select>
    </div>
    <div>
        <input asp-for="Schedule" />
        <label asp-for="Schedule"></label>
    </div>
    <div>
        <input asp-for="ScheduleDate" />
        <label asp-for="ScheduleDate"></label>
    </div>

    <input type="submit" value="Send" />
</form>

CurrentTime: @ViewBag.CurrentTime <br />
CurrentTimeZone: @ViewBag.CurrentTimeZone <br />

PostedTime: @ViewBag.PostedTime <br />
PostedKind: @ViewBag.PostedKind <br />

SpecifiedTime: @ViewBag.SpecifiedTime <br />
SpecifiedKind: @ViewBag.SpecifiedKind <br />

NormalizedTime: @ViewBag.NormalizedTime <br />
NormalizedKind: @ViewBag.NormalizedKind <br />
